--- 
title: leprototype.info
--- 
<!doctype html>
<html>
  {% include _includes/layouts/head.html %}
  <body id="page-top">
    {% include _includes/layouts/top-navbar.html %}
    <section id="index">
        <div class="container">
            <div class="row vertical-align">
              <div class="col-lg-2 col-lg-offset-2">
                <img src="/assets/imgs/pictos/Picto-08.jpg" alt="picto" style="max-width: 150px;"/>
              </div>
              <div class="col-lg-6">
                <p>créée début 2017, l'association "Fablab Le prototype" a pour
                  vocation d’accompagner ses adhérents à faire par eux-même, en local
                  et en coopération.</p>
                 </div>
            </div>
            <div class="row vertical-align">
            <div class="col-lg-6 col-lg-offset-2">
              <p><a href="/lieux/#local">Le Local</a>, notre principal lieu d'animation, est un espace situé
                Rue des Diables Bleus, à Chambéry.</p>
            </div>
            <div class="col-lg-2">
              <img src="/assets/imgs/pictos/Picto-10.jpg" alt="picto" style="max-width: 150px;"/>
            </div>
          </div>
            <div class="row vertical-align">
            <div class="col-lg-2 col-lg-offset-2">
              <img src="/assets/imgs/pictos/Picto-14.jpg" alt="picto" style="max-width: 150px;"/>
            </div>
            <div class="col-lg-6">
              <p>L’association est ouverte à tous:
                enfants, ados, étudiants, particuliers, travailleurs indépendants,
                professionnels, institutionnels...</p>
            </div>
          </div>
          <div class="row vertical-align">
            <div class="col-lg-6 col-lg-offset-2">
              <p>Nous proposons <a href="/offre/">un accès facilité aux machines numériques, ainsi que des
                formations et divers ateliers.</a></p>
            </div>
            <div class="col-lg-2">
              <img src="/assets/imgs/pictos/Picto-15.jpg" alt="picto" style="max-width: 150px;"/>
            </div>
          </div>
        </div>
    </section>
    {% include _includes/layouts/footer.html %}
  </body>
</html>
