---
layout: default
---

<div class="home">
  
  
 <div class="col col-12">
      <div class="col col-3">
          <div class="block glass"  style="background-image:url(assets/avatar.jpg);background-repeat:no-repeat">      
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>Fablab Le Prototype</h2>
                <p class="grey-text">Est une association qui a pour objectif de promouvoir la culture fablab localement sur Chambéry et ses environs, et d'essaimer des ateliers de fabrication numérique sur de nouveaux territoires, ainsi que de les accompagner durant cette période charnière.<br/>Un Fablab est un atelier de fabrication numérique où l’on peut utiliser des machines de découpes, des imprimantes 3D,… permettant de travailler sur des matériaux variés : plastique, bois, carton, vinyle, … afin de créer toute sorte d’objets grâce à la conception assistée par ordinateur ou à l’électronique.</p>
            </div>
        </div>
      </div>  
  </div>
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}});background-repeat:no-repeat">
            <div class="block-body height-{{port.height}}">              
                <h2 class="align-bottom-right">
                  {{ port.title }}
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  <div class="col col-9">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block {{post.color}}">
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Machines</h3>                
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
