<nav id="mainNav">
    <div>
        <div>
            <a href="/">
              <img src="/assets/imgs/logo.png" alt="logo" />
            </a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/about/">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a href="/offre/">Notre offre</a>
                </li>
                <li>
                    <a href="/lieux/">Nos lieux</a>
                </li>
                <li>
                    <a href="/machines/">Les machines</a>
                </li>
                <li>
                  <a href="/agenda/">Agenda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>